.date-navigator {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding-bottom: 10px;

  mat-form-field {
    width: 85%;
    margin: 0 auto -1.25em auto;
  }
}

.cancel-btn {
  margin-left: 8px;
}

.data-container {
  width: 86% !important;
  margin-top: 2%;
}
