<mat-toolbar class="dialog-header">
  <h4>{{'RESET-PASSWORD.TITLE' | translate}}</h4>
  <span class="space"></span>
  <button mat-button mat-dialog-close mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content>
  <form [formGroup]="userService.resetPasswordForm">

    <!--    Id-->
    <input formControlName="id" hidden>

    <!--    Password-->
    <mat-form-field appearance="outline">
      <mat-label>{{'RESET-PASSWORD.FIELD.PASSWORD' | translate}}</mat-label>
      <input
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="newPassword"
        matInput
        maxlength="32"
        placeholder="Ex. password"
        required>
      <mat-icon (click)="hidePassword = !hidePassword" matSuffix>
        {{hidePassword ? 'visibility_off' : 'visibility'}}
      </mat-icon>
      <mat-error
        *ngIf="userService.resetPasswordForm.controls['newPassword'].errors?.required">
        {{'MODEL-ERROR.PASSWORD-REQUIRED' | translate}}
      </mat-error>
      <mat-error
        *ngIf="userService.resetPasswordForm.controls['newPassword'].errors?.minlength">
        {{'MODEL-ERROR.PASSWORD-MIN-LENGTH' | translate}}
      </mat-error>
    </mat-form-field>

    <!--    Confirm password-->
    <mat-form-field appearance="outline">
      <mat-label>{{'RESET-PASSWORD.FIELD.PASSWORD-CONFIRM' | translate}}</mat-label>
      <input
        formControlName="confirmNewPassword"
        matInput
        maxlength="32"
        required
        type="password">
      <mat-error
        *ngIf="userService.resetPasswordForm.controls['confirmNewPassword'].errors?.required">
        {{'MODEL-ERROR.PASSWORD-CONFIRM-REQUIRED' | translate}}
      </mat-error>
      <mat-error
        *ngIf="userService.resetPasswordForm.controls['confirmNewPassword'].errors?.compare">
        {{'MODEL-ERROR.PASSWORD-CONFIRM' | translate}}
      </mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="onSubmit()"
          [disabled]="userService.resetPasswordForm.invalid"
          color="primary"
          mat-raised-button
          type="submit">
    {{'BTN.SUBMIT' | translate}}
  </button>
  <button color="warn" mat-dialog-close mat-raised-button>{{'BTN.CANCEL' | translate}}</button>
</mat-dialog-actions>
