@import "src/styles.scss";
.menu-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  mat-card {
    width: 320px;
    margin: 3%;

    @media (max-width: $break-XSmall) {
      width: 80%;
    }

    mat-card-content {
      text-align: center;
      padding: 15px;

      img {
        height: 120px;
        filter: grayscale(100%);
        transition: 0.4s;
      }
    }
  }

  mat-card:hover {
    cursor: pointer;

    mat-card-content img {
      filter: none;
      transition: 0.4s;
    }
  }
}
