@import "src/styles.scss";

.menu-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  mat-card {
    width: 320px;
    margin: 3%;
    @include mat-elevation(3);

    @media (max-width: $break-XSmall) {
      width: 80%;
    }

    mat-card-content {
      text-align: center;
      padding: 15px;

      img {
        height: 130px;
      }
    }
  }

  mat-card:hover {
    cursor: pointer;
    @include mat-elevation(10);
  }

  mat-card:focus {
    outline: none;
  }
}
