<mat-sidenav-container
  class="sidenav-container"
  hasBackdrop="true">

  <mat-sidenav
    #sidenav
    class="sidenav"
    mode="over">
    <mat-toolbar>
      <button
        (click)="sidenav.toggle()"
        class="menu-btn"
        mat-button
        mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
      <img
        (click)="sidenav.toggle()"
        alt="Smartschool"
        class="logo"
        [routerLink]="authService.homeLink"
        src="/assets/img/logo.png">
    </mat-toolbar>
    <mat-nav-list (click)="sidenav.toggle()"
                  *ngIf="(isLoggedIn$ | async) && authService.currentRole === 'ROLE_ADMIN'">
      <a *ngFor="let item of adminMenuItems" [routerLink]="item.url" mat-list-item routerLinkActive="active-rout">
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.label | translate}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="header">
      <button
        (click)="sidenav.toggle()"
        *ngIf="isLoggedIn$ | async"
        class="menu-btn"
        mat-button
        mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>

      <img *ngIf="!(isXSmall$ | async)"
           alt="Smartschool"
           class="logo"
           [routerLink]="authService.homeLink"
           src="/assets/img/logo.png">

      <app-breadcrumbs *ngIf="(isLoggedIn$ | async) && !(isXSmall$ | async)" class="space"></app-breadcrumbs>

      <span *ngIf="(isXSmall$ | async) || !(isLoggedIn$ | async)" class="space"></span>

      <button (click)="onMoveOnToNextSchoolYEar()"
              *ngIf="(isLoggedIn$ | async) && authService.currentRole === 'ROLE_ADMIN'"
              class="language-btn"
              color="primary"
              mat-button
              mat-icon-button
              matTooltip="{{'GLOBAL-TOOLTIP.MOVE-ON' | translate}}">
        <mat-icon>arrow_forward</mat-icon>
      </button>

      <button [matMenuTriggerFor]="langMenu" class="language-btn" mat-button mat-icon-button>
        <img [alt]="currentLang"
             [src]="'assets/img/' + currentLang + '.png'"
             class="language-icon">
      </button>

      <mat-menu #langMenu="matMenu">
        <button (click)="switchLang(lang)"
                *ngFor="let lang of languages"
                mat-menu-item>
          <img [alt]=lang [src]="'assets/img/' + lang + '.png'" class="language-icon">
        </button>
      </mat-menu>

      <button *ngIf="!(isLoggedIn$ | async); else loggedIn"
              routerLink="auth/login"
              color="primary"
              mat-raised-button>
        {{'NAV-BAR.SIGN-IN' | translate}}
      </button>

      <ng-template #loggedIn>
        <button
          [matMenuTriggerFor]="userInfo"
          class="user-btn"
          mat-raised-button>
          <img [src]="this.currentAvatar" alt="avatar">
        </button>

        <mat-menu #userInfo="matMenu">
          <div class="user-info-container">
            <div class="avatar">
              <img [src]="this.currentAvatar"
                   alt="avatar">
              <button (click)="onUpdateAvatar()" class="update-btn" mat-button mat-icon-button>
                <mat-icon>photo</mat-icon>
              </button>
            </div>
            <div class="info">
              {{this.currentUser?.firstName}} {{this.currentUser?.secondName}}
              <p>{{this.currentUser?.email}}</p>
            </div>
            <button (click)="onChangeModule()"
                    *ngIf="authService.userPrinciple.roles.length > 1"
                    class="btn"
                    color="accent"
                    mat-stroked-button>
              {{'NAV-BAR.CHANGE-MODULE' | translate}}
            </button>
            <button class="btn"
                    (click)="onForgotPassword()"
                    color="primary"
                    mat-stroked-button>
              {{'NAV-BAR.EDIT-PROFILE' | translate}}
            </button>
            <button (click)="signOut()"
                    class="btn"
                    color="warn"
                    mat-stroked-button>
              {{'NAV-BAR.SIGN-OUT' | translate}}
            </button>
          </div>
        </mat-menu>
      </ng-template>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>




