<mat-sidenav-container
  class="sidenav-container"
  hasBackdrop="true">

  <mat-sidenav
    #sidenav
    class="sidenav"
    mode="over">
    <mat-toolbar>
      <button
        (click)="sidenav.toggle()"
        mat-icon-button
        class="menu-btn">
        <mat-icon>close</mat-icon>
      </button>
      <img
        class="logo"
        src="/assets/img/logo.png"
        alt="Smartschool">
    </mat-toolbar>
    <mat-nav-list>
      <!--      Add side menu items here-->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="header">
      <button
        *ngIf="authService.isLoggedIn"
        (click)="sidenav.toggle()"
        class="menu-btn"
        mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>

      <img *ngIf="!(isXSmall$ | async)"
           class="logo"
           src="/assets/img/logo.png"
           alt="Smartschool">

      <span class="space"></span>

      <button [matMenuTriggerFor]="langMenu" mat-icon-button class="language-btn">
        <img [src]="'assets/img/' + currentLang + '.png'"
             [alt]="currentLang"
             class="language-icon">
      </button>

      <mat-menu #langMenu="matMenu">
        <button *ngFor="let lang of languages"
                (click)="switchLang(lang)"
                mat-menu-item>
          <img [src]="'assets/img/' + lang + '.png'" [alt]=lang class="language-icon">
        </button>
      </mat-menu>

      <button *ngIf="!authService.isLoggedIn"
              (click)="signIn()"
              mat-raised-button
              color="primary">
        {{'NAV-BAR.SIGN-IN' | translate}}
      </button>

      <span *ngIf="authService.isLoggedIn">
        <button
          [matMenuTriggerFor]="userInfo"
          mat-icon-button
          class="user-btn">
          <img src="assets/img/test-avatar.png" alt="avatar">
        </button>

        <mat-menu #userInfo="matMenu">
          <div class="user-info-container">
            <div class="avatar">
              <img src="assets/img/test-avatar.png" alt="avatar">
            </div>
            <div class="info">
              {{authService.userPrinciple.firstName}} {{authService.userPrinciple.secondName}}
              <p>{{authService.userPrinciple.sub}}</p>
            </div>
            <button mat-raised-button
                    class="btn"
                    color="primary">
              {{'NAV-BAR.EDIT-PROFILE' | translate}}
            </button>
            <button (click)="signOut()"
                    mat-raised-button
                    class="btn"
                    color="warn">
              {{'NAV-BAR.SIGN-OUT' | translate}}
            </button>
          </div>
        </mat-menu>
      </span>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>




