<mat-sidenav-container
  class="sidenav-container"
  hasBackdrop="true">

  <mat-sidenav
    #sidenav
    class="sidenav"
    mode="over">
    <mat-toolbar>
      <button
        (click)="sidenav.toggle()"
        class="menu-btn"
        mat-button
        mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
      <img
        alt="Smartschool"
        class="logo"
        src="/assets/img/logo.png">
    </mat-toolbar>
    <mat-nav-list (click)="sidenav.toggle()">
      <a mat-list-item routerLink="admin/home" routerLinkActive="active-rout">
        <mat-icon>home</mat-icon>
        <span>{{'MENU-ITEM.HOME' | translate}}</span>
      </a>
      <a mat-list-item routerLink="admin/users" routerLinkActive="active-rout">
        <mat-icon>group</mat-icon>
        <span>{{'MENU-ITEM.USERS' | translate}}</span>
      </a>
      <a mat-list-item routerLink="">
        <mat-icon>school</mat-icon>
        <span>{{'MENU-ITEM.PUPILS' | translate}}</span>
      </a>
      <a mat-list-item routerLink="">
        <mat-icon>contact_mail</mat-icon>
        <span>{{'MENU-ITEM.TEACHERS' | translate}}</span>
      </a>
      <a mat-list-item routerLink="">
        <mat-icon>group_work</mat-icon>
        <span>{{'MENU-ITEM.CLASSES' | translate}}</span>
      </a>
      <a mat-list-item routerLink="admin/subjects">
        <mat-icon>class</mat-icon>
        <span>{{'MENU-ITEM.SUBJECTS' | translate}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="header">
      <button
        (click)="sidenav.toggle()"
        *ngIf="isLoggedIn$ | async"
        class="menu-btn"
        mat-button
        mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>

      <img *ngIf="!(isXSmall$ | async)"
           alt="Smartschool"
           class="logo"
           routerLink="/admin/home"
           routerLinkActive=""
           src="/assets/img/logo.png">

      <span class="space"></span>

      <button [matMenuTriggerFor]="langMenu" class="language-btn" mat-button mat-icon-button>
        <img [alt]="currentLang"
             [src]="'assets/img/' + currentLang + '.png'"
             class="language-icon">
      </button>

      <mat-menu #langMenu="matMenu">
        <button (click)="switchLang(lang)"
                *ngFor="let lang of languages"
                mat-menu-item>
          <img [alt]=lang [src]="'assets/img/' + lang + '.png'" class="language-icon">
        </button>
      </mat-menu>

      <button *ngIf="!(isLoggedIn$ | async); else loggedIn"
              routerLink="auth/login"
              color="primary"
              mat-raised-button>
        {{'NAV-BAR.SIGN-IN' | translate}}
      </button>

      <ng-template #loggedIn>
        <button
          [matMenuTriggerFor]="userInfo"
          class="user-btn"
          mat-raised-button>
          <img [src]="this.currentAvatar" alt="avatar">
        </button>

        <mat-menu #userInfo="matMenu">
          <div class="user-info-container">
            <div class="avatar">
              <img [src]="this.currentAvatar"
                   alt="avatar">
              <button (click)="onUpdateAvatar()" class="update-btn" mat-button mat-icon-button>
                <mat-icon>photo</mat-icon>
              </button>
            </div>
            <div class="info">
              {{this.currentUser?.firstName}} {{this.currentUser?.secondName}}
              <p>{{this.currentUser?.email}}</p>
            </div>
            <button class="btn"
                    color="primary"
                    mat-raised-button>
              {{'NAV-BAR.EDIT-PROFILE' | translate}}
            </button>
            <button (click)="signOut()"
                    class="btn"
                    color="warn"
                    mat-raised-button>
              {{'NAV-BAR.SIGN-OUT' | translate}}
            </button>
          </div>
        </mat-menu>
      </ng-template>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>




