mat-card {
  margin: 8% auto;
  border-radius: 8px;
  padding: 20px;

  mat-card-title {
    text-align: center;
  }

  mat-card-content {
    margin-top: 20px;

    input {
      height: 17px;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }

    mat-form-field {
      width: 80%;
      display: block;
      margin: 15px auto;
    }

    .login-btn {
      display: block;
      width: 80%;
      margin: 30px auto 10px auto;
    }

    .forgot-password, .register {
      text-align: center;
    }

    .register {
      margin-top: 10px;
    }
  }
}

