<mat-card [ngStyle]="{'width': (isSmall$ | async) ? '50%' : (isXSmall$ | async) ? '80%' : '35%'}"
          class="mat-elevation-z12">

  <mat-card-title>{{'LOGIN.TITLE' | translate}}</mat-card-title>

  <mat-card-content>
    <form #loginForm="ngForm">

      <mat-form-field appearance="outline">
        <mat-label>{{'LOGIN.EMAIL' | translate}}</mat-label>
        <input
          matInput
          placeholder="Ex. mpereginec@gmail.com"
          name="email"
          ngModel
          #email="ngModel"
          required
          email>
        <mat-error *ngIf="email.errors && email.errors.required">
          {{'LOGIN.ERROR.EMAIL-REQUIRED' | translate}}
        </mat-error>
        <mat-error *ngIf="email.errors && email.errors.email">
          {{'LOGIN.ERROR.EMAIL-INVALID' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{'LOGIN.PASSWORD' | translate}}</mat-label>
        <input
          [type]="hidePassword ? 'password' : 'text'"
          matInput
          placeholder="Ex. helloWorld"
          name="password"
          ngModel
          #password="ngModel"
          type="password"
          required
          minlength="8"
          maxlength="32">
        <mat-error
          *ngIf="password.errors && password.errors.required">
          {{'LOGIN.ERROR.PASSWORD-REQUIRED' | translate}}
        </mat-error>
        <mat-error
          *ngIf="password.errors && password.errors.minlength">
          {{'LOGIN.ERROR.PASSWORD-MIN-LENGTH' | translate}}
        </mat-error>
        <mat-error
          *ngIf="password.errors && password.errors.maxlength">
          {{'LOGIN.ERROR.PASSWORD-MAX-LENGTH' | translate}}
        </mat-error>
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <button
        [disabled]="!loginForm.valid"
        (click)="signIn(loginForm)"
        mat-raised-button
        color="primary"
        class="login-btn">
        {{'LOGIN.LOGIN-BTN' | translate}}
      </button>

      <div class="forgot-password">
        <a class="effect-1" href="#">{{'LOGIN.FORGOT-PASSWORD' | translate}}</a>
      </div>

      <div class="register">
        <p>{{'LOGIN.NOT-MEMBER' | translate}}
          <a href="#">{{'LOGIN.REGISTER' | translate}}</a>
        </p>
      </div>

    </form>

  </mat-card-content>

</mat-card>


