mat-card {
  margin: 8% auto;
  padding: 20px;

  mat-card-title {
    text-align: center;
  }

  mat-card-content {
    margin-top: 20px;

    mat-form-field {
      width: 80%;
      display: block;
      margin: 15px auto;
    }

    .login-btn {
      display: block;
      width: 80%;
      margin: 30px auto 20px auto;
    }

    .forgot-password {
      text-align: center;
      margin: 10px;
    }
  }
}

