<mat-tab-group (selectedTabChange)="tabChanged($event)" mat-align-tabs="center">
  <mat-tab *ngFor="let classNumber of classNumbers" [label]="('SCHOOL-CLASSES.CLASS' | translate) + ' #' + classNumber">

    <div class="classes">
      <ng-container *ngIf="findByClassNumber(classNumber)?.length; else noClasses">
        <mat-card *ngFor="let schoolClass of findByClassNumber(classNumber)">

          <mat-card-header>
            <mat-card-title>{{schoolClass.number}}-{{schoolClass.initial}}</mat-card-title>
            <mat-card-subtitle>{{'SCHOOL-CLASSES.PUPILS' | translate}}
              : {{schoolClass.pupilsCount}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <img [src]="this.avatarService.getUrlByAvatarName(schoolClass.classTeacher.avatarName)" alt="">
            <div>
              {{schoolClass.classTeacher.firstName}} {{schoolClass.classTeacher.secondName}}
              <mat-card-subtitle>{{'SCHOOL-CLASSES.CLASS-TEACHER' | translate}}</mat-card-subtitle>
            </div>
          </mat-card-content>

          <mat-card-actions>
              <button (click)="onEdit(schoolClass)"
                      color="accent"
                      mat-button
                      mat-icon-button
                      matTooltip="{{'SCHOOL-CLASSES.TOOL-TIP.EDIT' | translate}}">
                <mat-icon>edit</mat-icon>
              </button>
              <button (click)="onDelete(schoolClass)"
                      [disabled]="schoolClass.pupilsCount !== 0"
                      color="warn"
                      mat-button
                      mat-icon-button
                      matTooltip="{{'SCHOOL-CLASSES.TOOL-TIP.DELETE' | translate}}">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-actions>

          </mat-card>
        </ng-container>
      </div>

  </mat-tab>
</mat-tab-group>
<button (click)="onCreate()"
        color="primary"
        class="create-btn"
        mat-raised-button
        matTooltip="{{'SCHOOL-CLASSES.TOOL-TIP.CREATE' | translate}}">
  <mat-icon>add</mat-icon>
</button>
<ng-template #noClasses>
  <div class="no-classes">{{'SCHOOL-CLASSES.NO-CLASSES' | translate}}</div>
</ng-template>
