@import '~@angular/material/theming';
@import '~saturn-datepicker/theming';

@include mat-core();

$app-primary: mat-palette($mat-blue, 600);
$app-accent: mat-palette($mat-orange, 300);
$app-warn: mat-palette($mat-red, A200);

$app-green: mat-palette($mat-teal, 500);
$app-header-color: mat-palette($mat-gray, A100);
$app-bg-color: mat-palette($mat-gray, A100);
$app-table-row-hover-color: mat-palette($mat-blue, 50);

$light-app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($light-app-theme);

@include sat-datepicker-theme($light-app-theme);

.mat-success {
  color: mat-color($app-green) !important;
}
.mat-success[disabled] {
   color: rgba(0, 0, 0, 0.26) !important;
 }

mat-toolbar {
  background-color: mat-color($app-header-color) !important;
}

a {
  color: mat-color($app-primary);
}

.content {
  background-color: mat-color($app-bg-color);
}

.mat-row:hover {
  background-color: mat-color($app-table-row-hover-color) !important;
}

.active-rout{
  background-color: mat-color($app-table-row-hover-color) !important;
}

.success-color {
   color: mat-color($app-green) !important;
 }

.primary-color{
  color: mat-color($app-primary) !important;
}

.accent-color{
  color: mat-color($app-accent) !important;
}

.warn-color{
  color: mat-color($app-warn) !important;
}

//ngx-toastr
#toast-container > .toast-error {
  background-color: mat-color($app-warn);
}

#toast-container > .toast-success {
  background-color: mat-color($app-green);
}

#toast-container > .toast-info {
  background-color: mat-color($app-primary);
}

#toast-container > .toast-warn {
  background-color: mat-color($app-accent);
}

.accent-row-mark {
  box-shadow: inset 3px 0 0 0 mat-color($app-accent);
}

.warn-row-mark {
  box-shadow: inset 3px 0 0 0 mat-color($app-warn);
}

.success-row-mark {
  box-shadow: inset 3px 0 0 0 mat-color($app-green);
}

.cdk-drag-preview {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
