<mat-toolbar class="dialog-header">
  <h4 *ngIf="!data">{{'PUPIL.TITLE-CREATE' | translate}}</h4>
  <h4 *ngIf="data">{{'PUPIL.TITLE-EDIT' | translate}}</h4>
  <span class="space"></span>
  <button mat-button mat-dialog-close mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content>
  <form [formGroup]="form">
    <div [ngClass]="{'field-connector': !(isXSmall$ | async)}">
      <!--    First name-->
      <mat-form-field appearance="outline">
        <mat-label>{{'PUPIL.FORM-TITLE.FIRST-NAME' | translate}}</mat-label>
        <input
          formControlName="firstName"
          matInput
          maxlength="60"
          placeholder="Ex. Maksym"
          required>
        <mat-error
          *ngIf="form.controls['firstName'].errors?.required">
          {{'MODEL-ERROR.FIRST-NAME-REQUIRED' | translate}}
        </mat-error>
        <mat-error
          *ngIf="form.controls['firstName'].errors?.pattern">
          {{'MODEL-ERROR.FIRST-NAME-PATTERN' | translate}}
        </mat-error>
      </mat-form-field>

      <!--    Second name-->
      <mat-form-field appearance="outline">
        <mat-label>{{'PUPIL.FORM-TITLE.SECOND-NAME' | translate}}</mat-label>
        <input
          formControlName="secondName"
          matInput
          maxlength="60"
          placeholder="Ex. Perehinets"
          required>
        <mat-error
          *ngIf="form.controls['secondName'].errors?.required">
          {{'MODEL-ERROR.SECOND-NAME-REQUIRED' | translate}}
        </mat-error>
        <mat-error
          *ngIf="form.controls['secondName'].errors?.pattern">
          {{'MODEL-ERROR.SECOND-NAME-PATTERN' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <div [ngClass]="{'field-connector': !(isXSmall$ | async)}">
      <!--    Date birth-->
      <mat-form-field appearance="outline" color="primary">
        <mat-label>{{'PUPIL.FORM-TITLE.DATE-BIRTH' | translate}}</mat-label>
        <input [matDatepicker]="dateBirthPicker"
               [max]="maxDate"
               [min]="minDate"
               formControlName="dateBirth"
               matInput
               placeholder="Ex. 12/17/200"
               required>
        <mat-error
          *ngIf="form.controls['dateBirth'].errors?.required">
          {{'MODEL-ERROR.DATE-BIRTH-REQUIRED' | translate}}
        </mat-error>
        <mat-datepicker-toggle [for]="dateBirthPicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #dateBirthPicker></mat-datepicker>
      </mat-form-field>

      <!--    Avatar-->
      <mat-form-field appearance="outline">
        <mat-label>{{'PUPIL.FORM-TITLE.AVATAR' | translate}}</mat-label>
        <mat-select formControlName="avatarName">
          <mat-option>-- None --</mat-option>
          <mat-option *ngFor="let avatar of avatars | keyvalue" [value]="avatar.key">
            <img [alt]="avatar.key" [src]="avatar.value">
            {{avatar.key}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!--    School class-->
    <mat-form-field appearance="outline">
      <mat-label>{{'PUPIL.FORM-TITLE.SCHOOL-CLASS' | translate}}</mat-label>
      <mat-select [compareWith]="compareById" formControlName="schoolClass" required>
        <mat-option *ngFor="let schoolClass of schoolClasses" [value]="schoolClass">
          {{schoolClass.number}}-{{schoolClass.initial}}
          ({{schoolClass.classTeacher.firstName}} {{schoolClass.classTeacher.secondName}})
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="form.controls['schoolClass'].errors?.required">
        {{'MODEL-ERROR.SCHOOL-CLASS-REQUIRED' | translate}}
      </mat-error>
    </mat-form-field>

    <!--    Email-->
    <mat-form-field *ngIf="!data" appearance="outline">
      <mat-label>{{'PUPIL.FORM-TITLE.EMAIL' | translate}}</mat-label>
      <input
        formControlName="email"
        matInput
        maxlength="75"
        placeholder="Ex. mpereginec1@gmail.com"
        required>
      <mat-error
        *ngIf="form.controls['email'].errors?.required">
        {{'MODEL-ERROR.EMAIL-REQUIRED' | translate}}
      </mat-error>
      <mat-error
        *ngIf="form.controls['email'].errors?.email">
        {{'MODEL-ERROR.EMAIL-INVALID' | translate}}
      </mat-error>
    </mat-form-field>

    <!--    Password-->
    <mat-form-field *ngIf="!data" appearance="outline">
      <mat-label>{{'PUPIL.FORM-TITLE.PASSWORD' | translate}}</mat-label>
      <input
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
        matInput
        maxlength="32"
        placeholder="Ex. password"
        required>
      <mat-icon (click)="hidePassword = !hidePassword" matSuffix>
        {{hidePassword ? 'visibility_off' : 'visibility'}}
      </mat-icon>
      <mat-error
        *ngIf="form.controls['password'].errors?.required">
        {{'MODEL-ERROR.PASSWORD-REQUIRED' | translate}}
      </mat-error>
      <mat-error
        *ngIf="form.controls['password'].errors?.minlength">
        {{'MODEL-ERROR.PASSWORD-MIN-LENGTH' | translate}}
      </mat-error>
    </mat-form-field>

    <!--    Confirm password-->
    <mat-form-field *ngIf="!data" appearance="outline">
      <mat-label>{{'PUPIL.FORM-TITLE.PASSWORD-CONFIRM' | translate}}</mat-label>
      <input
        formControlName="confirmPassword"
        matInput
        maxlength="32"
        required
        type="password">
      <mat-error
        *ngIf="form.controls['confirmPassword'].errors?.required">
        {{'MODEL-ERROR.PASSWORD-CONFIRM-REQUIRED' | translate}}
      </mat-error>
      <mat-error
        *ngIf="form.controls['confirmPassword'].errors?.compare">
        {{'MODEL-ERROR.PASSWORD-CONFIRM' | translate}}
      </mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="onSubmit()"
          [disabled]="form.invalid"
          color="primary"
          mat-raised-button
          type="submit">
    {{'BTN.SUBMIT' | translate}}
  </button>
  <button color="warn" mat-dialog-close mat-raised-button>{{'BTN.CANCEL' | translate}}</button>
</mat-dialog-actions>
