.breadcrumb {
  display: flex;
  margin: 0;
  padding: .25rem 1rem;
  list-style: none;

  .breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #6c757d;
    content: "/";
  }

  .active {
    color: rgba(0, 0, 0, 0.54);;
  }
}
